* {
  box-sizing: border-box;
}
body {
  color: white;
  background-color: rgb(24, 24, 24);
}
.logo {
  cursor: pointer;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  padding: 20px;
}
